body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #646464;
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 12px;
}

.header__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
}

.header__logo {
  width: 60px;
}

.dropMenu {
  display: none;
  top: 80px;
  right: 0;
  background-color: #8d8d8d;
  position: absolute;
}

.menu {
  height: 18px;
  width: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: 0;
  padding: 0;
  display: none;
}

.line {
  background: #1D191F;
  height: 3px;
  content: '';
  display: block;
  width: 100%;
}

.dropMenu__navLinks {
  list-style: none;
  padding: 8px 12px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__icons {
  display: flex;
  list-style: none;
  padding: 0 50px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.footer {
  height: 80px;
  background-color: #646464;
}

@media(max-width: 1080px) {
  .header__inner {
    justify-content: space-between;
  }

  .menu {
    display: flex;
  }

  .nav {
    display: none;
  }

  .dropMenu.active {
    display: block;
  }
}